client/build
client/logs
client/*.logs
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/firebase-debug.log*
client/firebase-debug.*.log*
client/.firbase
client/pids
client/*.pid
client/*.seed
client/*.pid.lock
client/lib-cov
client/coverage
client/.nyc_output
client/.grunt
client/bower_components
client/.lock-wscript
client/build/release
client/node_modules
client/.npm
client/eslintcache
client/.node_repl_history
client/*.tgz
client/.yarn-integrity
client/.env


server/node_modules
server/music-app-96e8a-firebase-adminsdk-bnd7u-e997b2fc93.json
server/http.rest
server/.serverless

file_upload_tool/node_modules
file_upload_tool/sampleMusic
